body.home, html.home {
  height: 100%;
}

/* Centers headings on all pages */
.horizontal-center {
  text-align: center;
  color: white;
}
.button {
    width: 115px;
    height: 25px;
    background: green;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 70px;
    font-size: 20px;
}

.button-one {
    width: 125px;
    height: 40px;
    background: green;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 70px;
    font-size: 20px;
}
.draw-page {
  text-align: center;
  color: black;
}
/* .horizontal-left {
  text-align: left;
  padding:0 25px;
} */

.home {
  background-image: url("Images/homePageBackground.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.free-draw {
  background-image: url("Images/drawingPageBG.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.surprise-draw {
  background-image: url("Images/drawingPageBG.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*.button {
  position: absolute;
  top: 132px;
  left: 80px;
}*/


/* Centers and formats the unordered list on the drawing pages */
.drawing-materials ul{
  list-style-type: none;
  text-align: center;
/*   position: center;
  top: 110px;
  left: 180px;
  margin: 0;
  padding: 0; */
} 

/* Formats and style the list of text in the drawing pages */
.drawing-materials ul li {
/*   text-align: center; */
/*   list-style: none;
  text-decoration: none; */
  font-size: 20px;
  display: inline-block;
  padding: 0 20px;
  color: black;
}
/* Formats canvas alignment */
canvas {
  padding: 0;
  margin: auto;
  display: block;
}


/*@media all and (max-width: 500px) {
  .drawing-materials ul {
    text-align: center;
    font-size: 30px;
    display: inline-block;
    padding: 0 10px;
    color: black;

  }*/

/* div.player-creation {
  text-align: center;
}

h2.name {
  display: inline-block;
  width: 250px;
}

h2.avatar {
  display: inline-block;
  width: 300px;
}

.button {
  margin-left: 100px;
}

.glow-materials ul{
  text-align: center;
  position: center;
  top: 110px;
  left: 180px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.glow-materials ul li {
  text-align: center;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding: 0 25px;
  color: blue;
} */
