/* Formats the homepage */
body.home, html.home {
  height: 100%;
}

/* Centers headings on all pages */
.horizontal-center {
  text-align: center;
  color: white;
}

/* Format the homepage buttons */
.button {
    width: 115px;
    height: 25px;
    background: green;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 70px;
    font-size: 20px;
}

/* Format and aligns the headings of the pages */
.draw-page {
  text-align: center;
  color: black;
}

/* Format the background of the home page */
.home {
  background-image: url("Images/homePageBackground.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Format the backgrounds of the drawing pages */
.free-draw, .surprise-draw {
  background-image: url("Images/drawingPageBG.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Format and aligns the unordered list on the drawing pages */
.drawing-materials ul{
  list-style-type: none;
  text-align: center;
} 

/* Formats and style the list of text in the drawing pages */
.drawing-materials ul li {
  font-size: 20px;
  display: inline-block;
  padding: 0 20px;
  color: black;
}

/* Formats and align the unordered list in the pong game page */
.game-button ul {
  list-style-type: none;
  text-align: left;
}

/* Formats and style the list of text in the pong game pages */
.game-button ul li {
  font-size: 20px;
  display: inline-block;
  padding: 0 40px;
  color: black;
}

/* Formats canvas alignment */
canvas {
  padding: 0;
  margin: auto;
  display: block;
}