
.horizontal-center {
  text-align: center;
}

div.player-creation {
  text-align: center;
}

h2.name {
  display: inline-block;
  width: 250px;
}

h2.avatar {
  display: inline-block;
  width: 300px;
}

a.button {
  margin-left: 100px;
}

div.drawing-materials ul{
  text-align: center;
  position: center;
  top: 110px;
  left: 180px;
  list-style-type: none;
  margin: 0;
  padding: 0;
} 

div.drawing-materials ul li {
/*   text-align: center; */
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  padding: 0 25px;
  color: black;
}

div.glow-materials ul{
  text-align: center;
  position: center;
  top: 110px;
  left: 180px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.glow-materials ul li {
/*   text-align: center; */
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding: 0 25px;
  color: blue;
}
